.container {
    display: block;
    max-width: 500px;
    padding: 5px;
    border: 1px solid var(--color-accent);
    border-radius: 14px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    border-radius: 10px;
    width: 100%;
}

.title {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
