.container {
    display: block;
    max-width: 500px;
    padding: 5px;
    border: 1px solid var(--color-accent);
    border-radius: 14px;
    transition: all 0.4s;
}

.container_dark {
    box-shadow: 3px 3px 5px 2px #00000080;
    background-color: #eee;
    display: flex;
    flex-direction: column-reverse;
}

.link {
    text-decoration: none;
    color: inherit;
}

.image {
    border-radius: 10px;
    width: 100%;
}

.title {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
