.recipe {
    display: grid;
    margin: auto;
    max-width: 70%;
    grid-template-areas:
        'title title'
        'image ingredients'
        'image instructions';
    gap: 15px;
}

.title {
    grid-area: title;
}

.image {
    max-width: 500px;
    grid-area: image;
    border-radius: 10px;
}

.like {
    display: flex;
    grid-area: image;
    margin: 30px;
    align-self: flex-end;
    justify-self: flex-end;
    scale: 2;
    background-color: #fffc;
}

.ingredients {
    grid-area: ingredients;
}

.instructions {
    grid-area: instructions;
}
