.container {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--color-accent);
    border-radius: 7px;
    padding: 4px 20px;
    width: 50%;
    margin: 10px auto;
    justify-content: space-between;
}
